body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, rgb(169, 240, 245), rgb(255, 172, 248), #e3f1ff);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1, h2, h3 {
    color: #333;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.postre {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.postre:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postre h3 {
    margin-top: 0;
}

.postre p {
    margin-bottom: 10px;
}

.postre img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos de Navegación */
.nav-header {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #d17f04;
    border: 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9d15f;
    padding: 13px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos de Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos de Header */
header h1 {
    margin: 0;
}

header {
    background-color: #f9d15f;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-Logo {
    height: 100px;
    margin-right: 10rem;
    margin-left: 1rem;
}

.img-Slogan {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.input-buscador {
    padding: 10px;
    margin-right: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px; 
}

.boton-buscar {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.boton-buscar:hover {
    background-color: #2980b9;
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

/* Estilos de Botones Generales */
.btn {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
    background-color: #e6e6e6;
    color: #333;
}

.btn:hover {
    background-color: #2980b9;
    color: #fff;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.btn-primary:hover {
    background-color: #2a67e0;
}

.btn-secondary:hover {
    background-color: #d3d3d3;
}

/* Adaptación del Contenedor de Login */
.login-container {
    background-color: rgba(255, 255, 255, 0.315);
    max-width: 40%;
    height: auto;
    margin: 1rem auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Asegura que la imagen se ajuste al contenedor */
.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Opcional: agrega bordes redondeados para mejorar el estilo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera para destacar */
}

/* Media Queries para diferentes dispositivos */
@media (max-width: 768px) {
    .catalogo {
        grid-template-columns: 1fr;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-Logo {
        margin: 1rem 0;
        height: 80px;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .postre {
        padding: 10px;
    }

    .postre h3 {
        font-size: 18px;
    }

    .postre p {
        font-size: 14px;
    }

    nav {
        padding: 10px 0;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    .img-Logo {
        height: 60px;
    }
}

form{
    display: block;
}

.input-text{
    box-shadow: inset #e571c7 0 0 0 2px;
        border: 0;
        background: rgba(255, 255, 255);
        appearance: none;
        width: 100%;
        position: relative;
        border-radius: 0px;
        padding: 0px 0px;
        line-height: 1.4;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        transition: all .2s ease;
        border-radius: 10px;
        :hover{
            box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
        }
        :focus{
            background: #fff;
            outline: 0;
            box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
        }
    
}